<div  class="animated fadeIn" style="text-align: center">
  <button type="button" class="btn btn-lg btn-primary" (click)="filtrar()">
    Filtrado
  </button>
  <button type="button" class="btn btn-lg btn-primary" (click)="lavar()">
    Lavado
  </button>
  <button type="button" class="btn btn-lg btn-primary" (click)="desagote()">
    Desagote
  </button>  
  <button type="button" class="btn btn-lg btn-primary" (click)="enjuagar()">
      Enjuague
  </button>
  <button type="button" class="btn btn-lg btn-primary" (click)="apagar()">
      Apagar
  </button>
  <button type="button" class="btn btn-lg btn-primary" (click)="completo()">
      Ciclo Completo
  </button>

</div>
