<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  <h1 class= "animated fadeInDown" >
    {{ title }}
  </h1>
</div>
<div class=" animated flipInX card mb-3" style="max-width: 15rem">
  <li class ="row">
    <div class="animated fadeIn card bg-primary" style="min-width: 13rem; "><p class="card-text ">Pileta llena</p></div>
    <!-- <div class="animated infinite flash card bg-danger" style="min-width: 13rem; "><p class="card-text ">Pileta vacía</p></div> -->
  </li>
  <li class ="row">
    <!-- <div class="animated fadeIn card bg-primary" style="min-width: 13rem; "><p class="card-text ">Motor encendido</p></div> -->
    <div class="card bg-dark" style="min-width: 13rem; "><p class="card-text ">Motor apagado</p></div>
  </li>
</div>
<dir class="animated zoomIn">
<app-apagado></app-apagado>
</dir> 
<footer>
  <img src="assets/pileta.png" class="animated  slideInUp slower"/>
</footer>
